body {
  margin: 0px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: rgb(175, 175, 175);
}

#js-fb-data {
  height: 4em;
  width: 8em;
}

.input-section {
  display: grid;
  grid-template-columns: 10fr 2fr;
}
/* .container {
  display: grid;
  grid-template-columns: 5fr 2fr;
} */

.nav-title {
  font-size: 2em;
}

.nav-background {
  background-color: rgb(130, 130, 255) !important;
  margin: 0;
}

.nav-bar {
  background-color: rgb(130, 130, 255) !important;
}
.align-border {
  margin-left: 1.5em;
  line-height: 1.5em;
  padding: 0.5em;
  /* margin-top: 1.25em; */
  margin-right: 1.5em;
  background-color: rgb(241, 241, 241);
}

.user-input {
  /* border-radius: 1em; */
  border-color: rgb(130, 130, 255);
  border-width: 0.25em;
  border-top: 0;
  border-style: solid;
  /* margin-top: 1em; */
  margin-left: 1.5em;
  line-height: 1.5em;
  padding: 0.5em;
  margin-right: 1.5em;
  background-color: rgb(241, 241, 241);
}

.comments-title {
  line-height: 1.25em;
  background-color: rgb(241, 241, 241);
  border-color: rgb(130, 130, 255);
  border-width: 0.25em;
  border-top: 0;
  border-style: solid;
}

.input-bar {
  height: 10em;
  width: 90%;
}

.main-thread {
  margin-top: 1em;
  border: 0.25em rgb(130, 130, 255) solid;
  border-radius: 1em 1em 0 0;
}

.comments {
  border: 0;
  padding: 0;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.posts {
  margin-top: 1em;
  margin-right: 1em;
  border: 0.25em rgb(130, 130, 255) solid;
  border-top: 0;
  border-right: 0;
  padding: 1em;
  background-color: white;
}

.footer {
  background-color: rgb(130, 130, 255);
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  border: 0;
  text-align: center;
}
.footer h3 {
  margin-top: 0.25em;
}

.footer ul {
  list-style-type: circle;
  text-align: initial;
}
